<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-col>
      <ion-list style="height: 30%;">
        <ion-item>
          <ion-label style="margin-left: 2px;">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </ion-label>
          <ion-input type="email" formControlName="email" placeholder="Adresse E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label style="margin-left: 2px;">
            <ion-icon name="ios-lock-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col style="text-align: center;  min-height:100%;position:relative;">
      <button ion-button color="emailColor" full (click)="handleLogin()">Se connecter</button>
      <p style="color: #ffffff;" (click)="showForgetPassword()">Mot de passe oublié?</p>
      

      <button ion-button color="createColor" full (click)="showInscriptionPage()">Créer un compte</button>
    </ion-col>
  </form>
</ion-content>
