page-client-add {
    background-color: rgb(6, 27, 34);
    ion-content{
        background-color: rgb(13, 40, 49);
    }
    .rowHeader {
        border-bottom: 5px solid;
      }
    .current {
    
    color: red;
    border-bottom: 7px solid red;
    padding-bottom: 5px;
    }
    .inputClient{
        border: 2px solid gray;
        box-sizing: border-box;
    }
    .p-client{
        text-align: left;
    }
    
    

  
}
