<!--
  Generated template for the ClientAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Client/Add</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides>
    <ion-slide>
        <ion-row class="rowHeader">
            <ion-col col-4 >
              <span class="current"  (click)="goToSlideOne()" >
                  Introduction générale
              </span>
        </ion-col>
        <ion-col col-2>
          <span   (click)="goToSlideTwo()" >
              Documentation

          </span>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-6  >
              <p class="p-client">
                  Nom
                </p>
              <ion-input class="inputClient"  placeholder="Text Input"></ion-input>
          </ion-col>
          <ion-col col-6>
              <p class="p-client">
                  Prenom
                </p>
              <ion-input  class="inputClient"  placeholder="Text Input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <p class="p-client">
               Date de naissance
            </p>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="(facultatif)" class="inputClient"></ion-datetime>

          </ion-col>
          <ion-col col-6>
              <p class="p-client">
                  Lieux de naissance
                </p>
              <ion-input  class="inputClient"  placeholder="(facultatif)"></ion-input>
          </ion-col>
        </ion-row>
        
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col>
                <p class="p-client">
                    Email
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
              <p class="p-client">
                  Telephone 1
                </p>
              <ion-input  class="inputClient"  ></ion-input>
          </ion-col>
          
          <ion-col col-6>
              <p class="p-client">
                  Telephone 2
                </p>
              <ion-input  class="inputClient"  ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col >
                <p class="p-client">
                    Adresse
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
                <ion-input  class="inputClient"  ></ion-input>

              </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col >
                <p class="p-client">
                    Ville
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col col-6>
                <p class="p-client">
                    Code postal
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
            <ion-col col-6>
                <p class="p-client">
                    Pays
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col >
                <p class="p-client">
                    Fait à
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col >
                <p class="p-client">
                    Comment avez-vous connu G&CO
                  </p>
                <ion-input  class="inputClient"  ></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-12 >
              <button ion-button block >Enregistrer</button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-row class="rowHeader">
            <ion-col col-4>
             <span  (click)="goToSlideOne()" >
                Introduction générale
             </span>
              
              </ion-col>
            
            <ion-col col-2>
              <span class="current"  (click)="goToSlideTwo()" >
                  Documentation

              </span>
            </ion-col>
        </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-6  >
              <p class="p-client">
                  Nationalité
                </p>
              <ion-input class="inputClient"  placeholder="Text Input"></ion-input>
          </ion-col>
          <ion-col col-6>
              <p class="p-client">
                  Type de piéces d'identité
                </p>
                <ion-select col-6  class="inputClient" style="width: 100%" >
                  <ion-option value="1">Carte sejour</ion-option>
                  <ion-option value="2">Carte identite nationale</ion-option>
                  <ion-option value="3">Passport</ion-option>
                </ion-select>          
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <p class="p-client">
                    Num piéces d'identité
                  </p>
                <ion-input  class="inputClient"  placeholder="(facultatif)"></ion-input>
            </ion-col>
          <ion-col col-6>
            <p class="p-client">
               Date d'expiration
            </p>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="(facultatif)" class="inputClient"></ion-datetime>

          </ion-col>
        </ion-row>
        
        
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                 pieces d'identite recto
              </ion-col>
              <ion-col col-3>
                 <button ion-button>Prendre une photo</button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button >Telecharger document</button>
              </ion-col>
            </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                 pieces d'identite verso
              </ion-col>
              <ion-col col-3>
                 <button ion-button>Prendre une photo</button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button >Telecharger document</button>
              </ion-col>
            </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6  >
                  <p class="p-client">
                      Num permis de conduire
                    </p>
                  <ion-input class="inputClient"  placeholder="Text Input"></ion-input>
              </ion-col>
              <ion-col col-6>
                  <p class="p-client">
                      Pays d'obtention
                    </p>
                  <ion-input  class="inputClient"  placeholder="Text Input"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <p class="p-client">
                       Date d'obtention
                    </p>
                    <ion-datetime displayFormat="MM/DD/YYYY" placeholder="(facultatif)" class="inputClient"></ion-datetime>
        
                  </ion-col>
                <ion-col col-6>
                    <p class="p-client">
                       Date d'expiration
                    </p>
                    <ion-datetime displayFormat="MM/DD/YYYY" placeholder="(facultatif)" class="inputClient"></ion-datetime>
        
                  </ion-col>
            </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                 Permis recto
              </ion-col>
              <ion-col col-3>
                 <button ion-button>Prendre une photo</button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button >Telecharger document</button>
              </ion-col>
            </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                 Permis verso
              </ion-col>
              <ion-col col-3>
                 <button ion-button>Prendre une photo</button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button >Telecharger document</button>
              </ion-col>
            </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col col-6>
                <p class="p-client">
                    Type de justificatif de domicile
                  </p>
                  <ion-select col-6  class="inputClient" style="width: 100%" >
                    <ion-option value="1">Quittance loyer</ion-option>
                  </ion-select>          
            </ion-col>
            <ion-col col-6>
                <p class="p-client">
                   Date du
                </p>
                <ion-datetime displayFormat="MM/DD/YYYY" placeholder="(facultatif)" class="inputClient"></ion-datetime>
    
              </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                 Justificatif domicile
              </ion-col>
              <ion-col col-3>
                 <button ion-button>Prendre une photo</button>
              </ion-col>
              <ion-col col-3>
                  <button ion-button >Telecharger document</button>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-grid>
      <ion-row>
        <ion-col col-12 >
            <button ion-button block >Enregistrer</button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
</ion-content>
