<!--
  Generated template for the UserAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User/Add</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="inscriptionForm">
        <ion-list>
            <ion-item>
                <ion-label style="margin-left: 2px;">
                  <ion-icon name="person"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="Nom" formControlName="firstName"></ion-input>
              </ion-item>
          <ion-item>
            <ion-label style="margin-left: 2px;">
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Prénom" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="home"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Code Postal" formControlName="postalCode"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>
                <ion-icon name="home"></ion-icon>
              </ion-label>
              <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <ion-icon name="mail"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="Pays" formControlName="pays"></ion-input>
              </ion-item>
          <ion-item>
    
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Adresse E-mail" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>
                <ion-icon name="call"></ion-icon>
              </ion-label>
              <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
            </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type="password" placeholder="Confirmation mot de passe" formControlName="passwordConfirmation"></ion-input>
          </ion-item>
    
         
    
        
    
          <ion-list radio-group formControlName="gender">
            <ion-item>
              <ion-label>Homme</ion-label>
              <ion-radio value="1" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Femme</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-list>
    
          <p>En cliquant sur
            <u>
              <b>Confirmer</b>
            </u>, vous acceptez les
            <u>Conditions Générales Utilisation</u>
          </p>
          <button ion-button color="tflDarkColor" full (click)='handleRegister()' [disabled]="!inscriptionForm.valid">Confirmer</button>
        </ion-list>
      </form>
</ion-content>
