page-main-menu {
    ion-content{
        background-image: url('../../assets/imgs/bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center !important;
        color:white;

    }
    .logo-title{
        font-size: 24px!important;
    }
    ion-label{
        font-size: 18px;
    }
    .footer{
        position: fixed;
        bottom: 10px;
        color:white;
    }
    button{
        background-color: transparent!important;
        box-shadow: none !important;
    }
    .btnIcon{
        display: block!important;
        margin: auto;
    }
    .menuRow{
        margin-bottom: 60px!important;
    }
    .menuRow:first-child{
        margin-top:30px!important;
    }
    .menuCol{
        background-color: rgba(255,255,255,0.2);
        border-radius:5px;
        margin-left: 30px!important;
        margin-right: 30px!important;
        font-size: 1.9rem;
        padding: 20px 0px;
        color: #fff;
        display: inline-block;
        text-align: center;
    }
}

