<!--
  Generated template for the MainMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MainMenu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-col col-12>
        <ion-label class="logo-title" color="light">(Logo) G&Co</ion-label>
      </ion-col>
      <ion-row class="menuRow" justify-content-center>
        <ion-col col-3 class="menuCol" (click)="showClients()">
          <img class="btnIcon" src="../../assets/imgs/iconClient.png"/>
          <label>Client</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showCharge()">
          <img class="btnIcon" src="../../assets/imgs/iconSignature.png"/>
          <label>Prise en charge</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showParc()">
          <img class="btnIcon" src="../../assets/imgs/iconParc.png"/>
          <label>Parc</label>
        </ion-col>
      </ion-row>
      <ion-row class="menuRow" justify-content-center>
        <ion-col col-3 class="menuCol" (click)="showViolations()">
          <img class="btnIcon" src="../../assets/imgs/iconViolation.png"/>
          <label>Contravention</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showMaintenance()">
          <img class="btnIcon" src="../../assets/imgs/iconMaintenance.png"/>
          <label>Entretien</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showAccident()">
          <img class="btnIcon" src="../../assets/imgs/iconAccident.png"/>
          <label>Accident</label>
        </ion-col>
      </ion-row>
      <ion-row class="menuRow" justify-content-center>
        <ion-col col-3 class="menuCol" (click)="showComptability()">
            <img class="btnIcon" src="../../assets/imgs/iconComptability.png"/>
            <label>Comptabilité</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showSettings()">
          <img class="btnIcon" src="../../assets/imgs/iconSettings.png"/>
          <label>Paramètre</label>
        </ion-col>
        <ion-col col-3 class="menuCol" (click)="showCalendar()">
          <img class="btnIcon" src="../../assets/imgs/iconCalendar.png"/>
          <label>Calendrier</label>
        </ion-col>
       
      </ion-row>
    </ion-grid>
</ion-content>
